/* Importação da fonte  */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root[data-theme="light"] {
  --color-primary: #ededed;
  --color-secondary: #111217;
  --background-secondary: #dddddd;
  --color-success: #5cb85c;
  --color-danger: #d9534f;
  --color-warning: #f0ad4e;
  --color-info: #5bc0de;
  --color-hover: #510180;
  --color-icon: #292b2c;
  --title-color: #111217;

  --primary-border-color: #c7c8c9;
  --secondary-border-color: #c7c8c9;
  --border-card: rgba(255, 255, 255, 0.1);
}

:root[data-theme="dark"] {
  --color-primary: #111217;
  --color-secondary: #f0f0f0;
  --background-secondary: #292b2c;
  --color-success: #5cb85c;
  --color-danger: #d9534f;
  --color-warning: #f0ad4e;
  --color-info: #5bc0de;
  --color-hover: #7e03c5;
  --color-icon: #b1b1b1;
  --title-color: #ededed;

  --primary-border-color: #28292e;
  --secondary-border-color: #56575a;
}
