#toggleTheme {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--color-icon);
  transition: ease-in-out 0.3s;
}
#toggleTheme:hover {
  color: var(--color-hover);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: fit-content;
  background: transparent;
  border-radius: 3.125rem;
  padding: 0.875rem 1.5rem;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.3s;
}

.btn span,
.btn i {
  font-size: 1.25rem;
  text-transform: uppercase;
}
.btn--primary span {
  color: var(--color-secondary);
}
.btn--primary {
  margin-top: 20px;
  border: 1px solid var(--color-secondary);
}

#social--icon {
  color: var(--color-icon);
  font-size: 2.5rem;
}
.card__buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.btn--repository {
  border: none;
  cursor: pointer;
  color: var(--color-secondary);
}

@media (min-width: 1200px) {
  .main__content1 .btn {
    width: auto;
  }
}
