/* 1. Reset da Logo */
html[data-theme="dark"] .brand__logo {
  filter: invert(1) hue-rotate(180deg);
}

/* 2. O Header  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  background-color: var(--color-primary);
  border: 1px solid var(--color-secondary);
  border-radius: 1rem;
  z-index: 1000;
}

/* 3. Elementos do Header */
.header__nav {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.header__brand {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header__toogle {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header__brand .brand__logo {
  max-width: 100px;
  height: auto;
  cursor: pointer;
}

/* 4. Menu Social */
.menu--social {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 1.5rem 0;
}
.menu__link {
  color: var(--color-secondary);
}

.menu--social .menu__link:hover {
  transform: translateY(-3px);
  transition: transform 0.3s ease;
}

/* 5. Menu Mobile */
.nav__mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-primary);
  border-top: 1px solid var(--color-secondary);
  z-index: 999;
  display: flex;
}

.menu--mobile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}

.menu--mobile .menu__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 1rem;
  text-decoration: none;
  gap: 0.3rem;
}

.menu__icon {
  font-size: 1.5rem;
  color: var(--color-secondary);
}

.menu__text {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: var(--color-secondary);
}

/* Estilo para o Menu Desktop e Mobile */
.menu__link.active .menu__text,
.menu__link.active .menu__icon {
  color: var(--color-hover) !important;
  font-weight: 700 !important;
  transition: all 0.3s ease;
}

/* 6. Media Queries */
@media (max-width: 767px) {
  .header__nav {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .nav__mobile {
    display: none !important;
  }

  .menu--principal {
    display: flex;
    gap: 1.5rem;
    list-style: none;
  }
  .menu--principal .menu__link.active {
    position: relative;
  }

  .menu--principal .menu__link.active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-hover);
    border-radius: 2px;
  }
}

@media (min-width: 1200px) {
  header {
    width: 86%;
  }
}
