@import url("./color.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
}
body {
  background: var(--color-light);
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rm;
  width: 100%;
}

.header #toggleTheme {
  font-size: 25px;
  color: var(--color-dark);
  margin: 10px;
  cursor: pointer;
}
div.header__brand {
  width: 80%;
  align-items: right;
  justify-content: center;
  padding-left: 40%;
}
.header__brand .brand__logo {
  width: 60%;
  height: 60%;
}
