/* 1. Configurações e Variáveis */
@import "./base/variables.css";

/* 2. Reset de estilos do navegador */
@import "./base/reset.css";

/* 4. Componentes específicos */
@import "./components/menu.css";
@import "./components/button.css";
/* 3. Estilos de elementos globais (como o body) */
body {
  background: var(--color-primary);
  font-family: "Ubuntu", sans-serif;
}
